*{
    margin: 0;
    padding: 0;
}
.visible{
    display: block;
    list-style-type: none;
    
}
.invisible{
    display: none;
    list-style-type: none;
}
li{
    padding: 7px;
    
}